<style>

#board-menu {

  background-color:#666666;

  width: 200px;


}

  #board-menu ul > li{

    float:left;
    margin:20;
    color:#00ff00;
  }
</style>


<div id="board-menu" class="grid_7">
  <table id="boardTable" style="border: 1px solid black;">
          <thead>
              <tr>
                  <th>v.#</th>
                  <th>Server</th>
                  <th>URL</th>
                  <th>Key</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td style='background-color: red;'>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
              </tr>
              <tr>
                  <td>2</td>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
              </tr>
              <tr>
                  <td>3</td>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
              </tr>
          </tbody>
      </table>

            <ul>
                <li><div class="menu" id="boardMenu"><button id="exportBoardBtn" >EXPORT</button> </div></li>
                <li><div class="boardLink" id="onReadyLink"><h1>onReady</h1><input type="text" value="--:--" readonly id="onReadyBoardTime"/>ms</div></li>
                <li><div class="boardLink" id="onBINLink"><h1>BIN (JS/CSS)</h1><input type="text" value="--:--" readonly id="onBINBoardTime"></div></li>
                <li><div class="boardLink" id="onLoadLink"><h1>Load</h1><input type="text" value="--:--" readonly id="onLoadBoardTime"></div></li>
                <!--<li><div class="boardLink" id="onTab1Link"><h1>Tab (1)</h1><input type="text" value="--:--" readonly id="onTab1BoardTime"></div></li>
                <li><div class="boardLink" id="onTab2Link"><h1>Tab (2)</h1><input type="text" value="--:--" readonly id="onTab2BoardTime"></div></li>
                <li><div class="boardLink" id="onTab2Link"><h1>Tab (3)</h1><input type="text" value="--:--" readonly id="onTab3BoardTime"></div></li> -->
                <li><div class="boardLink" id="onTabAllLink"><h1>All Tabs</h1><input type="text" value="--:--" readonly id="onTabAllBoardTime"></div></li>
                <li><div class="boardLink" id="onUploadLink"><h1>My Graphics</h1><input type="text" value="--:--" readonly  id="onDownloadMyGraphicsBoardTime"></div></li>
                <li><div class="boardLink" id="onUploadLink"><h1>Standard Graphics</h1><input type="text" value="--:--" readonly  id="onDownloadStandardGraphicsBoardTime"></div></li>
                <li><div class="boardLink" id="onResizeLink"><h1>Resize</h1><input type="text" value="--:--" readonly id="onResizeBoardTime"></div></li>
                <li><div class="boardLink" id="onSaveLink"><h1>Save</h1><input type="text" value="--:--" readonly id="onSaveBoardTime"></div></li>
                <li><div class="boardLink" id="onUploadLink"><h1>Image Upload</h1><input type="text" value="--:--" readonly  id="onUploadBoardTime"></div></li>
                <!--<li><div class="boardLink" id="onUploadLink"><h1>PDF Download</h1><input type="text" value="--:--" readonly  id="onPDFDownloadBoardTime"></div></li> -->
            </ul>


</div>



<script>


  function getCsvContent(){
    var rows = $('.boardLink input[type=\"text\"]').map(function() {
                                                             return $(this).val();
                                                          }).get();

    let csvContent = "Header Information,";//"data:text/csv;charset=utf-8,";

    csvContent += rows.join(",");
  /*  rows.forEach(function(rowArray){
       let row = rowArray.join(",");
       csvContent += row + "\r\n";
     });*/

     csvContent += "\r\n";
     console.log("CSV CONTENT WILL EB!!!!");
     console.log(csvContent);

     return csvContent;
  }


  function checkBenchmarkData(){

    var sg = $('#onDownloadStandardGraphicsBoardTime').val() == "--:--";
    var mg = $('#onDownloadMyGraphicsBoardTime').val() == "--:--";

    if(!sg && !mg){
      console.log("Good Benchmark:" + $('#onDownloadStandardGraphicsBoardTime').val() + "   " + $('#onDownloadMyGraphicsBoardTime').val());
      var data = getCsvContent();
      sendBenchmarkData(data);
    }
    else{
      console.log("Bad Benchmark:" + $('#onDownloadStandardGraphicsBoardTime').val() + "   " + $('#onDownloadMyGraphicsBoardTime').val());
      setTimeout(function(){checkBenchmarkData(data)}, 1000);
    }
  }

 function sendBenchmarkData(benchmarkData) {


  var url = "http://localhost/boxitnow/api/benchmark/log";
  var data = {apiKey: "VGL6TmfXuFMprVPy", benchmarkData : benchmarkData};

  console.log(url + "  " + data);

  $.ajax({
			type: "POST",
			url: url,
			dataType: 'json',
			cache: false,
			data: data,
			success: function(data) {
          console.log("Success");
          console.log(data);

          location.reload();

				if(data.info !== 'error'){

				} else {

				}
			},
      error: function(data) {

        console.log("Error");
        console.log(data);
      }
		});


}


$( document ).ready(function() {

  var onReadyTime = Date.now();

  $('#onReadyBoardTime').val(onReadyTime - baseTime);


  $('#exportBoardBtn').on('click', function(){


     checkBenchmarkData();


    //alert("exporting...");

    var htmlTable = $('#boardTable');

    //var excelExportJs = excelExportJs();

  /*  var dataSet = excelExportJs.eeHelper.ConvertHtmlTable(htmlTable);
    var obj = new excelExportJs.excelExport(dataSet);

    var a = document.createElement("a");
    a.innerText = 'Click Me';
    a.href = obj.CreateExcel(true, true);
    a.download = 'download.xml';
    document.body.appendChild(a);

    */

    /*setCsvData();

    var rows = $('.boardLink input[type=\"text\"]').map(function() {
                                                             return $(this).val();
                                                          }).get();

    let csvContent = "Header Information,";//"data:text/csv;charset=utf-8,";

    csvContent += rows.join(",");*/
  /*  rows.forEach(function(rowArray){
       let row = rowArray.join(",");
       csvContent += row + "\r\n";
     });*/

     /*csvContent += "\r\n";
     console.log("CSV CONTENT WILL EB!!!!");
     console.log(csvContent);

     var sg = $('#onDownloadStandardGraphicsBoardTime').val() == "--:--";
     var mg = $('#onDownloadMyGraphicsBoardTime').val() == "--:--";*/




  });

});


</script>
